@font-face {
  font-family: "arialbold";
  src: url("../fonts/arialbold.woff2") format("woff2");
  src: url("../fonts/arialbold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "arialregular";
  src: url("../fonts/arialregular.woff2") format("woff2");
  src: url("../fonts/arialregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotobold";
  src: url("../fonts/robotobold.woff2") format("woff2");
  src: url("../fonts/robotobold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "robotoregular";
  src: url("../fonts/robotoregular.woff2") format("woff2");
  src: url("../fonts/robotoregular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

::-ms-clear {
  width: 0;
  height: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* === main ==== */
body {
  background-color: rgba(220, 220, 220, 0.5);
  padding-bottom: 167px;
}

.wrapper {
  max-width: 980px;
  padding: 0 20px;
  margin: 0 auto;
}

/* === button ==== */
input[type='submit'] {
  width: 174px;
  height: 30px;
  background-color: #3d6c84;
  font-family: "robotobold", sans-serif;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-top: 12px;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}
input[type='submit']:hover {
  color: #3d6c84;
  background-color: transparent;
  border: 2px solid #3d6c84;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

/* === LANGUAGE (block-1) ==== */
.language {
  background-color: #fff;
  padding: 10px 0;
}
.language-wrap {
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.language-wrap__item {
  display: inline-block;
  text-align: center;
  width: 39px;
  height: 24px;
  font-family: "robotoregular", sans-serif;
  font-size: 12px;
  line-height: 24px;
  list-style: none;
  background-color: rgba(95, 95, 95, 0.05);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.language-wrap__item:nth-child(2) {
  margin: 0 3px;
}
.language-wrap__item:hover {
  background-color: #5f5f5f;
}
.language-wrap__item:hover .language-wrap__item-link {
  color: #fff;
}
.language-wrap__item-link {
  text-decoration: none;
  color: #5f5f5f;
}

/* === HEADER (block-2) ==== */
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-logo {
  position: relative;
  width: 287px;
}
.header-logo:before, .header-logo:after {
  content: "";
  position: absolute;
  top: -30px;
  width: 340px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header-logo:before {
  background-color: rgba(220, 220, 220, 0.5);
}
.header-logo:after {
  z-index: -1;
  background-color: #fff;
}
.header-logo__wrap {
  position: relative;
  z-index: 1;
  bottom: 18px;
  left: 7px;
  width: 275px;
  height: 72px;
  border-radius: 50%;
  background-color: #959595;
  font-family: "robotobold", sans-serif;
  font-size: 36px;
  text-align: center;
  line-height: 65px;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header-logo__wrap:hover {
  background-color: #5f5f5f;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header-logo__link {
  text-decoration: none;
  color: #fff;
}
.header-contacts {
  position: relative;
  padding: 16px 0 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-contacts__item {
  text-transform: uppercase;
  font-size: 12px;
  font-family: "robotoregular", sans-serif;
}
.header-contacts__item:nth-child(1) {
  width: 187px;
  margin-left: 52px;
}
.header-contacts__item:nth-child(2) {
  width: 201px;
  margin-left: 33px;
}
.header-contacts__item:nth-child(3) {
  width: 145px;
  margin-left: 25px;
}
.header-contacts__item-link {
  position: relative;
  text-decoration: none;
  display: block;
  color: #363636;
  line-height: 1.16;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.header-contacts__item-link:nth-child(1) {
  margin-bottom: 12px;
}
.header-contacts__item-link:before {
  content: "";
  position: absolute;
  left: -20px;
  display: inline-block;
  width: 14px;
  height: 13px;
  background-image: url(../img/icon.png);
}
.header-contacts__item-link:hover {
  color: #3d6c84;
}

/* === MAIN MENU (block-3) ==== */
.menu {
  padding: 0 0 20px;
}
.menu-container:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 1px 3px 12px black;
          box-shadow: 1px 3px 12px black;
}
.menu-main > ul {
  position: relative;
  display: table;
  width: 100%;
  font-size: 0;
}
.menu-main > ul:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.menu-main > ul > li {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid rgba(30, 16, 50, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  border-collapse: collapse;
  text-transform: uppercase;
  font-family: "robotoregular", sans-serif;
  font-size: 16px;
  line-height: 42px;
  background-color: #959595;
  list-style: none;
  cursor: pointer;
  padding: 0 20px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}
.menu-main > ul > li:first-child {
  border-left: 1px solid #959595;
  border-top-left-radius: 3px;
}
.menu-main > ul > li:last-child {
  border-right: 1px solid #959595;
  border-top-right-radius: 3px;
}
.menu-main > ul > li > a {
  text-decoration: none;
  color: #fff;
}
.menu-main > ul > li:hover {
  background-color: #a7a7a7;
}

.menu-container__mobile {
  display: none;
}

/* === CONTACT FORM (block-4) ==== */
.form-container {
  background: #cbcbcb url();
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-left {
  margin: 12px 0 32px 20px;
  width: 280px;
  font-family: "robotoregular", sans-serif;
  color: #373737;
}
.form-left__name {
  font-size: 24px;
  font-variant: small-caps;
}
.form-left__name span {
  font-size: 20px;
}
.form-left__post-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-left__post-item span {
  font-size: 14px;
  display: inline-block;
  margin: 5px 0;
  text-transform: uppercase;
}
.form-left__post-item span > span {
  font-size: 10px;
}
.form-left__post-item input {
  border: 2px solid #6f6f6f;
  font-family: "robotoregular", sans-serif;
  color: #373737;
  padding: 6px 5px;
}
.form-left__post-item:first-child span {
  display: inline-block;
}
.form-left__post-item:first-child label,
.form-left__post-item:first-child input {
  width: 100%;
}
.form-left__post-item-group {
  width: 130px;
}
.form-left__post-item-group label,
.form-left__post-item-group input {
  width: 130px;
}
.form-right {
  -ms-flex-item-align: center;
      align-self: center;
  width: 294px;
  padding: 16px 20px 20px;
  background-color: #ededed;
  margin-right: 33px;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1.732px 4px 0px rgba(6, 6, 6, 0.25);
          box-shadow: 1px 1.732px 4px 0px rgba(6, 6, 6, 0.25);
}
.form-right__more p {
  margin: 0;
}
.form-right__more p:first-child {
  font-family: "arialregular", sans-serif;
  font-size: 14px;
  line-height: 20px;
}
.form-right__more p:nth-child(2) {
  font-family: "arialbold", sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-top: 12px;
}
.form-right__more input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

/* === GOODS (block-5) ==== */
.goods {
  padding: 32px 0 8px;
}
.goods-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.goods-item {
  border-radius: 4px;
}
.goods-item__img img {
  display: block;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.goods-item__img img, .goods-item__text {
  width: 300px;
}
.goods-item__text {
  padding: 20px 18px 18px;
  background-color: #fff;
}
.goods-item__text h4,
.goods-item__text p {
  margin: 0;
}
.goods-item__text h4 {
  font-family: "robotobold", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  line-height: 12px;
  letter-spacing: -0.02em;
  margin-bottom: 14px;
}
.goods-item__text p {
  font-family: "arialregular", sans-serif;
  font-size: 13px;
  color: #363636;
  line-height: 1.2;
}

.googs-item {
  margin-bottom: 20px;
}

.googs-item:nth-child(2) {
  margin-left: 20px;
  margin-right: 20px;
}

/* === PICTURE (block-6) ==== */
.picture {
  padding-bottom: 20px;
}
.picture-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 -10px;
}
.picture-img {
  margin: 0 10px;
}
.picture-img a {
  margin-bottom: 20px;
  display: inline-block;
  overflow: hidden;
  width: 138px;
  height: 97px;
}
.picture-img img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transform: scale(1);
          transform: scale(1);
  font-size: 1rem;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}
.picture-img img:hover {
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.picture-link {
  display: none;
}

/* === BLOCKS (block-7) ==== */
.blocks {
  /*=================	@media ================= */
  /*=================	====== ================= */
}
.blocks-container {
  border-radius: 5px;
  background-color: #717171;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 35px 5px 0;
}
.blocks-item {
  background-color: #cccccc;
  margin-bottom: 18px;
}
.blocks-item:nth-child(1), .blocks-item:nth-child(2), .blocks-item:nth-child(3) {
  background-color: #fff;
}
.blocks-item__link {
  display: block;
  width: 280px;
  height: 40px;
  cursor: pointer;
}

@media screen and (max-width: 979px) {
  .header {
    padding-bottom: 6px;
  }

  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header-logo::before, .header-logo::after {
    display: none;
  }

  .header-logo,
  .header-logo__wrap {
    width: 100%;
  }

  .header-logo {
    margin-top: 20px;
    margin-bottom: 6px;
  }

  .header-logo__wrap {
    position: static;
    border-radius: 0;
    height: 101px;
    line-height: 82px;
  }

  .header-contacts {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin: 0 auto;
  }

  .header-contacts__item:nth-child(1),
  .header-contacts__item:nth-child(2),
  .header-contacts__item:nth-child(3) {
    margin-left: 0px;
  }

  .header-contacts__item:nth-child(1) {
    width: 164px;
    margin-left: 20px;
  }
  .header-contacts__item:nth-child(2) {
    margin-left: 70px;
    margin-right: 70px;
  }

  .menu-main > ul > li {
    line-height: 1.4;
    padding: 10px 0;
  }
}
@media screen and (max-width: 849px) {
  .menu-container {
    background-color: #959595;
    padding: 11px 10px;
    position: relative;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  .menu-container:after {
    position: absolute;
    bottom: -3px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .menu-main {
    display: none;
  }

  .menu-container__mobile {
    display: block;
    position: relative;
  }

  .toggle-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    outline: 0;
    margin-left: 11px;
    margin-top: 3px;
  }
  .toggle-menu__btn > span {
    display: block;
    width: 21px;
    height: 3px;
    background: #fff;
    margin-bottom: 2px;
  }
  .toggle-menu__btn > span:nth-child(2) {
    margin: 3px 0;
  }

  .toggle-menu__name {
    margin-left: 18px;
    font-family: "robotoregular", sans-serif;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    color: #fff;
  }

  .menu-mobile {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    right: 0;
    padding: 10px 0;
    width: calc(100% + 20px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .menu-mobile ul > li {
    list-style: none;
    font-family: "robotoregular", sans-serif;
    font-size: 16px;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
    background: rgba(149, 149, 149, 0.9);
    cursor: pointer;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .menu-mobile ul > li > a {
    text-decoration: none;
    color: #fff;
  }
  .menu-mobile ul > li:hover {
    background-color: #a7a7a7;
  }
}
@media screen and (max-width: 767px) {
  .header-contacts__item:nth-child(2) {
    margin-left: 15px;
    margin-right: 15px;
  }

  .form-left {
    margin-left: 7px;
  }

  .form-right {
    padding: 16px 15px 20px;
    width: 284px;
    margin-right: 7px;
  }
}
@media screen and (max-width: 629px) {
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px 0px 2px;
    margin: 0;
  }

  .header-contacts__item,
  .header-contacts__item:nth-child(2) {
    width: 100%;
  }

  .header-contacts__item:nth-child(1),
  .header-contacts__item:nth-child(2),
  .header-contacts__item:nth-child(3) {
    margin-left: 20px;
  }

  .header-contacts__item-link,
  .header-contacts__item-link:nth-child(1) {
    margin-bottom: 11px;
  }

  .form-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
  }
  .form-left {
    width: auto;
    margin: 9px 0 32px 0px;
  }

  .form-left__post-item-group,
  .form-left__post-item-group label,
  .form-left__post-item-group input {
    width: 200px;
  }

  .form-right {
    width: 100%;
    margin: 0 auto;
    padding: 6px 20px 20px;
  }

  .form-right__more input[type="submit"] {
    margin: 13px 0 0;
  }

  .goods {
    padding: 23px 0 11px;
  }

  .goods-item {
    margin-bottom: 18px;
  }

  .goods-item__img img,
  .goods-item__text {
    width: 440px;
  }

  .goods-item__img img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .goods-item__text {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .picture {
    padding-bottom: 24px;
  }

  .picture-img a {
    width: 210px;
  }

  .picture-img:not(.visible) {
    display: none;
  }

  .picture-link {
    display: block;
    font-family: "arialbold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 3px;
    color: #006c86;
    -webkit-transition: all ease 0.2s;
    transition: all ease 0.2s;
  }
  .picture-link:hover {
    color: #5f5f5f;
  }

  .blocks-container {
    padding: 36px 5px 13px;
  }

  .blocks-item {
    margin-bottom: 20px;
  }

  .blocks-item__link {
    width: 400px;
  }
}
@media screen and (max-width: 479px) {
  .header-contacts__item:nth-child(2) {
    width: 250px;
  }

  .form-left__post-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .form-left__post-item .form-left__post-item-group,
  .form-left__post-item .form-left__post-item-group label,
  .form-left__post-item .form-left__post-item-group input {
    width: 100%;
  }

  .goods-item__img img,
  .goods-item__text {
    width: calc(100vw - 40px);
  }

  .googs-item:nth-child(2) {
    margin-left: 0;
    margin-right: 0;
  }

  .blocks-item__link {
    width: 260px;
  }
}

/*# sourceMappingURL=main.css.map */