/* NORMALIZE */
/* ================================================ */
html, body, div, span, applet, main, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers*/
article, aside, details, main, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Tahoma, sans-serif;
  line-height: 1;
  background-color: #ffffff;
  height: 100%;
  position: relative;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}

input, textarea {
  color: #333;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

input[type="button"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

::-ms-clear {
  width: 0;
  height: 0;
}

button {
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

td, form {
  margin: 0px;
  padding: 0px;
}

a {
  color: #000100;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:after, .wrapper:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

body {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.header {
  position: absolute;
  z-index: 9999;
  top: 0;
  right: 0;
  padding: 60px 100px;
  margin: 0 auto;
}

.header-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav ul li {
  margin-left: 51px;
}

.header-nav_link {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 23px;
  color: #3B3B93;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.header-nav_link:hover {
  color: #FFAD5E;
}

.aside {
  position: absolute;
  z-index: 9999;
  width: 600px;
  height: auto;
  background-color: #3B3B93;
  padding: 50px 143px 50px 102px;
  -webkit-transform: translateX(-510px);
          transform: translateX(-510px);
  -webkit-transition: all .7s linear;
  transition: all .7s linear;
}

.aside.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all .7s	linear;
  transition: all .7s	linear;
}

.head-min {
  display: none;
}

.head-min.active {
  display: block;
}

.head-min.active .logo-min {
  position: absolute;
  right: 29px;
  top: 52px;
}

.head-min.active .search-min_btn {
  position: absolute;
  right: 28px;
  top: 127px;
}

.toggle-btn_aside {
  position: absolute;
  right: -25px;
  top: 30%;
  width: 50px;
  height: 50px;
  background-color: #FFAD5E;
  border: 0;
  border-radius: 50%;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 94px;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-form input {
  border: 0;
  border-bottom: 1px solid #fff;
  background-color: #3B3B93;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-size: 14px;
  padding: 0px 10px;
  max-width: 150px;
}

.search-form input::-webkit-input-placeholder {
  color: #9393d4;
}

.search-form input::-moz-placeholder {
  color: #9393d4;
}

.search-form input:-moz-placeholder {
  color: #9393d4;
}

.search-form input:-ms-input-placeholder {
  color: #9393d4;
}

.search-form.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-btn {
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.block:nth-child(2), .block:nth-child(3), .block:nth-child(4), .block:nth-child(5) {
  margin-top: 55px;
}

.block-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block-name {
  display: inline-block;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.02em;
}

.block-clear {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background: transparent;
  border: 0;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.block-clear:hover {
  color: #FFAD5E;
}

.block-title {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 22px;
  text-transform: uppercase;
}

.block-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.box-radio_item {
  font-size: 16px;
  line-height: 19px;
}

.box-radio input {
  display: none;
}

.box-radio label {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  margin-bottom: 18px;
}

.box-radio input + label:before {
  content: '';
  background: transparent;
  border: 1px solid #fff;
  display: inline-block;
  vertical-align: middle;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 3px;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.box-radio input:checked + label:before {
  background: #FFAD5E;
  -webkit-box-shadow: inset 0px 0px 0px 3px #3B3B93;
          box-shadow: inset 0px 0px 0px 3px #3B3B93;
  border: 1px solid #FFAD5E;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-radio {
  margin-right: 10px;
}

.row-radio-item {
  font-size: 16px;
  line-height: 19px;
}

.row-radio input {
  display: none;
}

.row-radio label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 93px;
  height: 39px;
  border-radius: 30px;
  background: #4F4FAD;
  cursor: pointer;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.row-radio input:checked + label {
  background: #FFAD5E;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */