@charset "UTF-8";
/*4. Добавить в HTML когда была создана школа */
@font-face { font-family: "durango_western_erodedregular"; src: url("../fonts/durango_western_eroded_demo-webfont.woff2") format("woff2"); src: url("../fonts/durango_western_eroded_demo-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }
@font-face { font-family: "Neo Sans Pro"; src: url("../fonts/NeoSansPro-Bold.eot"); src: local("Neo Sans Pro Bold"), local("NeoSansPro-Bold"); src: url("../fonts/NeoSansPro-Bold.eot?#iefix") format("embedded-opentype"); src: url("../fonts/NeoSansPro-Bold.woff") format("woff"); src: url("../fonts/NeoSansPro-Bold.ttf") format("truetype"); font-weight: bold; font-style: normal; }
@font-face { font-family: "Neo Sans Pro"; src: url("../fonts/NeoSansPro-LightItalic.eot"); src: local("Neo Sans Pro Light Italic"), local("NeoSansPro-LightItalic"); src: url("../fonts/NeoSansPro-LightItalic.eot?#iefix") format("embedded-opentype"); src: url("../fonts/NeoSansPro-LightItalic.woff") format("woff"); src: url("../fonts/NeoSansPro-LightItalic.ttf") format("truetype"); font-weight: 300; font-style: italic; }
@font-face { font-family: "Neo Sans Pro"; src: url("../fonts/NeoSansPro-Regular.eot"); src: local("Neo Sans Pro"), local("NeoSansPro-Regular"); src: url("../fonts/NeoSansPro-Regular.eot?#iefix") format("embedded-opentype"); src: url("../fonts/NeoSansPro-Regular.woff") format("woff"); src: url("../fonts/NeoSansPro-Regular.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "langustine_regular"; src: url("../fonts/12145.woff2") format("woff2"); src: url("../fonts/12145.woff") format("woff"); font-weight: normal; font-style: normal; }
/** ====== Preloader styles ====== */
.preloader { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 999999999; background-color: #fff; background-position: center center; background-repeat: no-repeat; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
.preloader img { width: 15%; -webkit-animation: spin 2s infinite; animation: spin 2s infinite; }

@-webkit-keyframes spin { to { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); } }

@keyframes spin { to { -webkit-transform: rotateY(360deg); transform: rotateY(360deg); } }
/** ====== Gradient styles ====== */
.gradient-overlay { position: relative; }
.gradient-overlay:before { content: ""; position: absolute; top: 0; left: 0; opacity: 0.96; width: 100%; height: 100%; background-color: #4b4b4b; }

/* === Button (menu, phone call) ==== */
.toggle-menu { display: none; }

@media screen and (min-width: 767px) { .phone-btn { display: none; } }
/** ==== Wrapper === */
.wrapper { max-width: 1250px; padding: 0 40px; margin: 0 auto; }

/** ==== Background and box-shadow for sections === */
.banner-container { -webkit-box-shadow: 0px 24px 22px -16px #000003; box-shadow: 0px 24px 22px -16px #000003; }

.softblack_bg { position: relative; z-index: -1; background: #fff url(../img/background/bg-underblack.jpg) center top repeat; background-size: cover; -webkit-box-shadow: 0px 10px 40px #000003; box-shadow: 0px 10px 40px #000003; }
.softblack_bg:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.7); }

.red_bg { background: #fff url(../img/background/bg-red.jpg) center top repeat; -webkit-box-shadow: 0px 24px 22px -16px #000003; box-shadow: 0px 24px 22px -16px #000003; }
.red_bg:before { content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-box-shadow: 0px -24px 22px -16px #000003; box-shadow: 0px -24px 22px -16px #000003; }

.question.red_bg { -webkit-box-shadow: none; box-shadow: none; }

.map { background-color: #4b4b4b; }
.map__decor { position: relative; z-index: 99998; -webkit-box-shadow: 0px 24px 22px -16px #000003; box-shadow: 0px 24px 22px -16px #000003; }

footer { background-color: #4b4b4b; -webkit-box-shadow: 0px -24px 22px -16px #000003; box-shadow: 0px -24px 22px -16px #000003; }

/** ==== Add decor to head of sections === */
[class*="__decor"] { padding: 60px 0 40px; }
[class*="__decor"] img { display: block; margin: 0 auto; max-width: 455px; width: 100%; }

.map__decor { padding: 60px 0 30px; }

/* === HEADER MENU (block-1) ==== */
.main_wrapper { overflow: hidden; }

header { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; }

.header-wrap { border-bottom: 1px solid #7CB0B0; position: relative; margin-bottom: 1px; -webkit-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }
.header-wrap:after { content: ""; width: 100%; height: 1px; background: #7CB0B0; position: absolute; bottom: 2px; left: 0; }
.header-wrap-container { display: -webkit-box; display: -ms-flexbox; display: flex; padding: 10px 0 5px; }
.header-wrap__logo { width: 163px; padding-top: 17px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.header-wrap__logo img { display: block; max-width: 100%; }
.header-wrap__menu-bar { width: 100%; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.header-wrap__menu-bar ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
.header-wrap__menu-bar ul li { list-style: none; display: block; font-family: "Neo Sans Pro", sans-serif; font-size: 16px; letter-spacing: 0.1px; line-height: 65px; text-transform: uppercase; }
.header-wrap__menu-bar ul li a { position: relative; padding: 10px 30px; color: #fff; }
.header-wrap__menu-bar ul li a:before, .header-wrap__menu-bar ul li a:after { content: ""; position: absolute; -webkit-transition: -webkit-transform 0.5s ease; transition: -webkit-transform 0.5s ease; transition: transform 0.5s ease; transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
.header-wrap__menu-bar ul li a:before, .header-wrap__menu-bar ul li a:after { left: 0; top: 0; width: 100%; height: 100%; border-style: solid; border-color: red; }
.header-wrap__menu-bar ul li a:before { border-width: 2px 0 2px 0; -webkit-transform: scaleX(0); transform: scaleX(0); }
.header-wrap__menu-bar ul li a:after { border-width: 0 1px 0 1px; -webkit-transform: scaleY(0); transform: scaleY(0); }
.header-wrap__menu-bar ul li a:hover:before, .header-wrap__menu-bar ul li a:hover:after { -webkit-transform: scale(1, 1); transform: scale(1, 1); }
.header-wrap__dropdownmenu { position: absolute; background: rgba(0, 0, 0, 0.8); padding: 0px 30px; width: 100%; max-height: 70vh; overflow-y: auto; top: 100%; z-index: 99999; left: -10000px; visibility: hidden; opacity: 0; margin-top: 30px; -webkit-transition: opacity 0.3s, margin-top 0.4s; transition: opacity 0.3s, margin-top 0.4s; }
.header-wrap__dropdownmenu:before { content: ""; display: block; position: absolute; bottom: 100%; width: 0px; height: 0px; border-style: solid; border-width: 0 7px 7px 7px; border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent; left: 37px; }
.header-wrap__dropdownmenu.open { opacity: 1; margin-top: 0; visibility: visible; left: 0px; }
.header-wrap__dropdownmenu ul { display: block; }
.header-wrap__dropdownmenu ul li { list-style: none; display: block; font-family: "Open Sans", sans-serif; font-size: 18px; letter-spacing: 0.3px; line-height: 18px; text-transform: uppercase; border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
.header-wrap__dropdownmenu ul li a { display: block; color: #fff; padding: 14px 0; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }
.header-wrap__dropdownmenu ul li a:hover { color: #fff; text-shadow: 0 0 15px white, 0 0 15px white, 0 0 20px white, 0 0 25px white, 0 0 20px white, 0 0 30px white; -webkit-transition: all 0.3s linear; transition: all 0.3s linear; }
.header-wrap__company h1 { text-align: center; font-family: "durango_western_erodedregular", sans-serif; font-size: 85px; letter-spacing: 18px; color: #fff; text-shadow: 0 1px 1px #bbb, 0 2px 0 #999, 0 3px 0 #888, 0 4px 0 #777, 0 5px 0 #666, 0 6px 0 #555, 0 7px 0 #444, 0 8px 0 #333, 0 9px 7px #302314; margin-bottom: -3px; margin-right: -30px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.header-wrap__company h2 { font-family: "Open Sans", sans-serif; font-size: 26px; letter-spacing: 0.3px; line-height: 28px; color: #fff; text-align: center; margin-top: 30px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

header.header-fixed { position: fixed; top: 0; width: 100%; z-index: 99999; -webkit-box-shadow: 0 3px 5px rgba(81, 183, 227, 0.2); box-shadow: 0 3px 5px rgba(81, 183, 227, 0.2); -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
header.header-fixed .header-wrap__logo { width: 104px; padding-top: 0; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
header.header-fixed #resize_mainmenu-container > ul > li { line-height: 35px; margin-top: 10px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
header.header-fixed #resize_main h1 { font-size: 50px; letter-spacing: 12px; color: #fff; padding-top: 10px; margin-bottom: 23px; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
header.header-fixed #resize_main h2 { display: none; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }

/* ===BANNER SLIDER (block-2) (Slider_Revolution_v4.1) ==== */
#banner .banner-container { width: 100%; position: relative; }
#banner .banner-container .banner { width: 100%; position: relative; }
#banner .tp-bullets { display: none; }
#banner .slotholder { position: relative; }
#banner .slotholder:before { content: ""; position: absolute; top: 0; left: 0; opacity: 0.65; width: 100%; height: 100%; z-index: 99; background: rgba(0, 0, 0, 0) -webkit-gradient(linear, left top, right top, from(#e0eafc), to(#cfdef3)) repeat scroll 0% 0%; background: rgba(0, 0, 0, 0) linear-gradient(to right, #e0eafc, #cfdef3) repeat scroll 0% 0%; }

.tparrows.preview4:hover:after { -webkit-transform: rotateY(0deg) !important; transform: rotateY(0deg) !important; }
.tparrows.preview4 .tp-arr-allwrapper { visibility: hidden !important; }
.tparrows.preview4::after { background: rgba(0, 0, 0, 0.15) !important; }

/* === Banner_buttons (блок рекламы всплывающий на слайдере) ==== */
#banner { position: relative; z-index: 2; /* Button Shutter Out Horizontal */ }
#banner .caption { z-index: 9999; }
#banner .text { text-align: center; font-family: "langustine_regular", sans-serif; font-size: 60px; font-weight: bold; color: #fff; text-shadow: 0 0 1px white, 0 0 1px white, 0 0 1px white; }
#banner .banner__heart { max-width: 250px; opacity: 0.5; }
#banner .banner__heart img { display: block; width: 100%; }
#banner ul.banner-button li { display: inline; }
#banner ul.banner-button li a { display: inline-block; border: 2px solid transparent; line-height: 70px; border-radius: 10px; font-size: 18px; font-family: "Neo Sans Pro", sans-serif; font-weight: 700; color: #fff; text-shadow: 0 0 1px white; padding: 0 43px; text-transform: uppercase; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; }
#banner ul.banner-button li a.bordered { border-color: #fff; }
#banner ul.banner-button li a.bordered:before { background: #fff; border-radius: 10px; }
#banner ul.banner-button li a.bordered:hover { border-color: red; color: red; }
#banner ul.banner-button li a.colored { background: red; }
#banner ul.banner-button li a.colored:before { background: #fff; border-radius: 10px; }
#banner ul.banner-button li a.colored:hover { color: red; }

.hvr-shutter-out-horizontal { display: inline-block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); position: relative; background: #e1e1e1; -webkit-transition-property: color; transition-property: color; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; }

.hvr-shutter-out-horizontal:before { content: ""; position: absolute; z-index: -1; top: 0; bottom: 0; left: 0; right: 0; background: #2098D1; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 50%; transform-origin: 50%; -webkit-transition-property: transform; -webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; transition-property: transform; transition-property: transform, -webkit-transform; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-timing-function: ease-out; transition-timing-function: ease-out; }

.hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active { color: white; }

.hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before { -webkit-transform: scaleX(1); transform: scaleX(1); }

/* === ABOUT (block-3) ==== */
.about { position: relative; z-index: 1; }

.about-wrap { display: -webkit-box; display: -ms-flexbox; display: flex; }
.about-wrap__main { -ms-flex-item-align: center; align-self: center; -webkit-box-flex: 47%; -ms-flex: 47%; flex: 47%; padding-right: 5px; }
.about-wrap__main h2 { font-family: "Neo Sans Pro", sans-serif; font-weight: 700; color: #14141d; font-size: 40px; text-shadow: 0 0 5px white; margin-top: 45px; margin-bottom: 30px; }
.about-wrap__main h2 span { font-size: 45px; color: red; text-shadow: none; }
@media screen and (max-width: 415px) { .about-wrap__main h2 { white-space: pre-line; } }
.about-wrap__main p { font-family: "Neo Sans Pro", sans-serif; font-size: 15px; line-height: 22px; letter-spacing: 0.7px; text-indent: 3em; font-style: italic; color: rgba(255, 255, 255, 0.7); text-shadow: 0 0px 2px rgba(255, 255, 255, 0.7); text-align: justify; }
.about-wrap__main p:last-child { padding-top: 5px; padding-bottom: 10px; }
.about-wrap__img { -webkit-box-flex: 53%; -ms-flex: 53%; flex: 53%; -ms-flex-item-align: end; align-self: flex-end; }
.about-wrap__img img { display: block; max-width: 100%; }

/* === POSITIVE SIGN (block-4) ==== */
.positivesign { position: relative; z-index: 2; }

.positivesign-wrap { position: relative; padding-bottom: 80px; }
.positivesign-wrap__details { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: center; margin: 0 -10px; }
.positivesign-wrap__item { background-color: #f7f7f7; width: 32%; margin-bottom: 30px; margin-right: 10px; -webkit-box-shadow: 0 2px 7px 0 rgba(10, 10, 10, 0.6), 3px 27px 54px -34px rgba(0, 0, 0, 0.82); box-shadow: 0 2px 7px 0 rgba(10, 10, 10, 0.6), 3px 27px 54px -34px rgba(0, 0, 0, 0.82); -webkit-transition: 0.3s; transition: 0.3s; border-radius: 5px; background-color: rgba(252, 255, 255, 0.9); }
.positivesign-wrap__item:nth-child(3), .positivesign-wrap__item:last-child { margin-right: 0; }
.positivesign-wrap__item:hover { -webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.07); box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.07); }
.positivesign-wrap__text { padding: 0 10px 15px; }
.positivesign-wrap__text h3 { font-family: "Neo Sans Pro", sans-serif; font-size: 20px; font-weight: 700; color: #14141d; margin-top: 15px; margin-bottom: 10px; }
.positivesign-wrap__text p { font-family: "Neo Sans Pro", sans-serif; font-weight: 300; font-style: italic; font-size: 16px; line-height: 22px; color: #14141d; text-indent: 2em; text-align: justify; letter-spacing: 0.5px; }
.positivesign-wrap__img { width: 100%; overflow: hidden; max-height: 190px; margin: 0 auto; }
.positivesign-wrap__img img { display: block; width: 100%; }
.positivesign-wrap h2 { font-family: "Neo Sans Pro", sans-serif; font-weight: 700; font-size: 33px; color: #14141d; text-shadow: 0 0 5px white, 0 0 2px white; margin-bottom: 50px; text-align: center; }
.positivesign-wrap h2 span { font-size: 37px; border: 5px solid red; border-radius: 20px; padding: 10px; color: red; text-shadow: none; }

/* === DIRECTIONS (block-5) ==== */
.directions { position: relative; z-index: 1; }

.directions-wrap { position: relative; padding-bottom: 80px; }
.directions-wrap h2 { font-family: "Neo Sans Pro", sans-serif; font-weight: 700; font-size: 33px; color: #14141d; text-shadow: 0 0 5px white, 0 0 2px white; margin-bottom: 50px; text-align: center; }
.directions-wrap h3 { font-family: "Neo Sans Pro", sans-serif; font-size: 20px; font-weight: 700; margin-top: 10px; text-align: center; color: #fff; margin-bottom: 10px; }
.directions-wrap p { font-family: "Neo Sans Pro", sans-serif; font-weight: 300; font-style: italic; font-size: 15px; line-height: 20px; color: #737373; color: #fff; text-indent: 2em; text-align: justify; letter-spacing: 0.5px; }

.directions-wrap-content .content__item { display: -webkit-box; display: -ms-flexbox; display: flex; margin-bottom: 10px; }
.directions-wrap-content .content__item:nth-of-type(1) .content__text { margin-bottom: 0; background-color: #e56f99; }
.directions-wrap-content .content__item:nth-of-type(2) .content__text { background-color: #ff7517; margin-right: 0 !important; margin-left: 10px; }
.directions-wrap-content .content__item:nth-of-type(2) .content__img { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
.directions-wrap-content .content__item:nth-of-type(3) .content__text { background-color: #fc4040; }
.directions-wrap-content .content__img, .directions-wrap-content .content__text { width: 50%; max-width: 565px; max-height: 432px; overflow: hidden; text-align: center; border-radius: 10%; }
.directions-wrap-content .content__img img, .directions-wrap-content .content__text img { display: block; width: 100%; height: 100%; }
.directions-wrap-content .content__text { margin-right: 10px; position: relative; }
.directions-wrap-content .content__text--center { position: absolute; left: 20px; right: 20px; top: 50%; -webkit-transform: translate(0, -50%); transform: translate(0, -50%); margin: 0; padding: 10px 10px; }

/* === QESTIONS  (block-6) ==== */
.question { position: relative; z-index: 1; }

.question-wrap { position: relative; padding-bottom: 80px; }
.question-wrap h2 { font-family: "Neo Sans Pro", sans-serif; font-weight: 700; font-size: 33px; color: #14141d; text-shadow: 0 0 5px white, 0 0 2px white; margin-bottom: 25px; text-align: center; }

.question-wrap-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-left: 101px; }
.question-wrap-content__item img { display: inline-block; max-width: 850px; }

.list { counter-reset: li; list-style: none; font: 22px "Neo Sans Pro", sans-serif; color: #fff; padding: 0; }
.list li { margin-bottom: 15px; }
.list li:last-child { margin-bottom: 0; }
.list div { position: relative; display: block; padding: 6px 6px 6px 32px; margin: 8px 0; background-color: rgba(59, 51, 51, 0.6); border-radius: 20px; padding: 10px 10px 10px 85px; width: 100%; min-height: 150px; }
.list div:before { content: counter(li); counter-increment: li; position: absolute; left: -106px; top: 50%; margin-top: -82px; background-color: #3b3333; height: 163px; width: 163px; line-height: 162px; border: 5px solid #fff; text-align: center; border-radius: 50%; font-family: "Neo Sans Pro", sans-serif; color: #fff; font-size: 32px; }
.list div h3 { font-family: "Neo Sans Pro", sans-serif; font-size: 20px; font-weight: 700; color: #fff; }
.list div p { font-family: "Neo Sans Pro", sans-serif; font-weight: 300; font-style: italic; font-size: 16px; line-height: 22px; text-align: justify; color: #fff; letter-spacing: 0.3px; margin-top: 15px; }

/** ====== MAP (block-7) ====== */
.map h2 { font-family: "Neo Sans Pro", sans-serif; font-weight: 700; font-size: 33px; color: #14141d; text-shadow: 0 0 5px white, 0 0 2px white; margin-top: 40px; text-align: center; }

#map { overflow: hidden; position: relative; height: 600px; top: 1px; }

/** ====== FOOTER (block-8) ====== */
footer { position: relative; }

.footer-wrap-content { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 50px 0 25px; }
.footer-wrap-content .logo { width: 145px; }
.footer-wrap-content .logo img { display: inline-block; width: 100%; }
.footer-wrap-content h4 { font-family: "Neo Sans Pro", sans-serif; line-height: 25px; text-transform: uppercase; color: #fff; text-align: center; border-bottom: 1px dashed #fff; padding-bottom: 5px; margin-bottom: 10px; }
.footer-wrap-content__contact .contact-list { list-style: none; }
.footer-wrap-content__contact .contact-list__item { font-family: "Neo Sans Pro", sans-serif; padding-bottom: 7px; color: #fff; line-height: 25px; }
.footer-wrap-content__contact .contact-list__icon { margin-right: 15px; }
.footer-wrap-content__contact .contact-list__link { color: #fff; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer-wrap-content__contact .contact-list__link:hover { color: #fff; text-shadow: 0 0 15px white, 0 0 15px white, 0 0 20px white, 0 0 25px white; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer-wrap-content__menu { font-family: "Neo Sans Pro", sans-serif; }
.footer-wrap-content__menu .footermenu { list-style: none; }
.footer-wrap-content__menu .footermenu .footermenu__item { color: #fff; padding-bottom: 7px; line-height: 25px; }
.footer-wrap-content__menu .footermenu .footermenu__item:last-child { padding-bottom: 0; }
.footer-wrap-content__menu .footermenu .footermenu__item .footermenu__link { color: #fff; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer-wrap-content__menu .footermenu .footermenu__item .footermenu__link:hover { color: #fff; text-shadow: 0 0 15px white, 0 0 15px white, 0 0 20px white, 0 0 25px white; -webkit-transition: all 0.2s linear; transition: all 0.2s linear; }
.footer-wrap-content__social .social { display: -webkit-box; display: -ms-flexbox; display: flex; list-style: none; margin-top: 25px; }
.footer-wrap-content__social .social__item:nth-child(2) { margin-right: 36px; margin-left: 36px; }
.footer-wrap-content__social .social__link { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 75px; height: 70px; border: 3px solid #fff; border-radius: 25px; position: relative; cursor: pointer; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; }
.footer-wrap-content__social .social__link .fa { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); color: #fff; font-size: 30px; -webkit-transition: all 0.5s linear; transition: all 0.5s linear; }
.footer-wrap-content__social .social__link:hover { background: #fff; -webkit-box-shadow: 0 0 30px 3px #fff; box-shadow: 0 0 30px 3px #fff; }
.footer-wrap-content__social .social__link:hover .fa { color: #f06060; }

.copyright { position: relative; z-index: 1; color: #0d0d0d; font-weight: 600; font-size: 12px; letter-spacing: 0.3px; padding: 4px 0 4px; text-align: center; }
.copyright:before { content: ""; position: absolute; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff; }
.copyright:after { content: ""; position: absolute; z-index: -1; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.2); }
.copyright a { padding: 3px 0; position: relative; text-decoration: none; }
.copyright a:before { content: ""; position: absolute; width: 100%; height: 2px; bottom: 0px; left: 0; background: #fff; visibility: hidden; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transition: all 0.3s ease-in-out 0s; transition: all 0.3s ease-in-out 0s; }
.copyright a:hover { color: #fff; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out; }
.copyright a:hover:before { visibility: visible; -webkit-transform: scaleX(1); transform: scaleX(1); }

/** ====== AJAX FORM (mail) ====== */
#AJAX_form { background: ivory url(../img/background/bg-ajax.jpg) center top no-repeat; background-size: cover; }
#AJAX_form:before { content: ""; position: fixed; z-index: -1; top: 0; left: 0; background: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; overflow-y: auto; }
#AJAX_form .container { max-width: 600px; width: 100%; padding: 15px; margin: 0 auto; }
#AJAX_form h2 { font-family: "Neo Sans Pro", sans-serif; font-size: 22px; font-weight: 700; margin-top: 15px; text-align: center; color: #fff; text-shadow: 0 0 1px white; }
#AJAX_form p { font-family: "Neo Sans Pro", sans-serif; font-size: 16px; line-height: 22px; color: #fff; letter-spacing: 0.03em; text-shadow: 0 0 1px white; margin: 5px 0 15px; }
#AJAX_form form > input, #AJAX_form form > textarea { width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; padding: 15px; background: transparent; border: 1px solid #6e3b48; border-radius: 5px; font-family: "Neo Sans Pro", sans-serif; font-size: 14px; color: #fff; }
#AJAX_form form > input:focus, #AJAX_form form > textarea:focus { outline: none !important; border: 1px solid red; }
#AJAX_form form > input { margin-bottom: 10px; }

.check-list { display: block; margin: 0 auto; width: 80px; }
.check-list__item { margin-bottom: 10px; }
.check-list__item input[type=checkbox] { display: none; }
.check-list__item input[type=checkbox]:before { border-radius: 3px; }
.check-list__item label { display: inline-block; cursor: pointer; position: relative; padding-left: 25px; font-family: "Neo Sans Pro", sans-serif; font-size: 15px; color: #fff; margin-bottom: 5px; text-shadow: 0 0 1px white; }
.check-list__item label:before { content: ""; display: inline-block; width: 15px; height: 15px; position: absolute; left: 0; bottom: 2px; background-color: #fff; -webkit-box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8); box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px 0px rgba(255, 255, 255, 0.8); border-radius: 3px; }
.check-list__item input[type=checkbox] + label:before { color: transparent; -webkit-transition: color ease 0.3s; transition: color ease 0.3s; }
.check-list__item input[type=checkbox]:checked + label:before { content: "✓"; text-shadow: 1px 1px 1px rgba(75, 75, 75, 0.4); font-size: 15px; color: #4B4B4B; text-align: center; line-height: 16px; }

textarea { min-height: 70px; margin-bottom: 30px; }

button { margin: 0 auto; border: none; border: 2px solid transparent; line-height: 55px; border-radius: 10px; font-size: 24px; font-family: "Neo Sans Pro", sans-serif; font-weight: 700; color: #fff; padding: 0 50px; text-transform: uppercase; cursor: pointer; -webkit-transition: all 0.3s ease; transition: all 0.3s ease; /* Fade for btn */ }
button.bordered { border-color: #fff; }
button.bordered:before { background: #fff; border-radius: 10px; }
button.bordered:hover { border-color: white; }
button.colored { background: #4b4b4b; }
button.colored:before { background: #fff; border-radius: 10px; }
button.colored:hover { color: white; }

.hvr-fade { display: block; vertical-align: middle; -webkit-transform: perspective(1px) translateZ(0); transform: perspective(1px) translateZ(0); -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0); box-shadow: 0 0 1px rgba(0, 0, 0, 0); overflow: hidden; -webkit-transition-duration: 0.3s; transition-duration: 0.3s; -webkit-transition-property: color, background-color; transition-property: color, background-color; }

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active { background-color: red; color: white; }

/** ====== AJAX FORM (pop-up) ====== */
#AJAX_form { /*=================	@media ================= */ /*=================	====== ================= */ /** ================= > 1199px ================= */ }
#AJAX_form #overlay { display: block; position: fixed; width: 100%; height: 100%; top: 0; left: 0; overflow-y: auto; background: #000; opacity: 0.9; z-index: 3; }
#AJAX_form .reg_form { display: none; position: fixed; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 5; text-align: center; width: 100%; padding: 0 20px; }
#AJAX_form .reg_form p { color: #fff; font-size: 20px; line-height: 26px; margin-bottom: 20px; }
#AJAX_form .reg_form button { margin: 0 auto; color: red; font-size: 18px; line-height: 40px; }

@media screen and (max-width: 1199px) { .header-wrap-container { padding-top: 5px; padding-bottom: 5px; }
  .header-wrap__mainmenu-container ul li { font-size: 15px; line-height: 55px; }
  .header-wrap__mainmenu-container ul li a { padding-left: 20px; padding-right: 20px; }
  .header-wrap__company h1 { font-size: 75px; letter-spacing: 16px; }
  .header-wrap__company h2 { font-size: 24px; margin-top: 25px; margin-bottom: 0; }
  .header-wrap__logo { width: 140px; }
  header.header-fixed #resize_main h1 { margin-bottom: 0; }
  header.header-fixed .header-wrap__logo { width: 102px; }
  #banner .text { font-size: 55px; }
  #banner .banner__heart { width: 220px; }
  [class*="__decor"] img { width: 35%; }
  .about-wrap__main { -webkit-box-flex: 47%; -ms-flex: 47%; flex: 47%; }
  .about-wrap__main h2 { font-size: 37px; margin-top: 0px; margin-bottom: 10px; }
  .about-wrap__main h2 span { font-size: 41px; }
  .about-wrap__main p { font-size: 14px; line-height: 20px; }
  .about-wrap__img { -webkit-box-flex: 43%; -ms-flex: 43%; flex: 43%; }
  .positivesign-wrap { padding-bottom: 50px; }
  .positivesign-wrap h2 { margin-bottom: 40px; }
  .directions-wrap { padding-bottom: 60px; }
  .directions-wrap h2 { margin-bottom: 40px; }
  .directions-wrap h3 { margin-top: 7px; margin-bottom: 7px; }
  .directions-wrap p { font-size: 13px; line-height: 16px; text-indent: 1.5em; letter-spacing: 0.3px; }
  .directions-wrap-content .content__text--center { padding: 5px 0; }
  .question-wrap { padding-bottom: 50px; }
  /** ================= > 991px ================= */ }
@media screen and (max-width: 991px) { .header-wrap__mainmenu-container { display: none; }
  .header-wrap__company h1 { font-size: 70px; letter-spacing: 14px; margin-top: 20px; margin-right: -16px; }
  .header-wrap__company h2 { font-size: 18px; line-height: 24px; letter-spacing: 0.2px; }
  .header-wrap__logo { width: 120px; margin-right: 25px; }
  #banner .callback { line-height: 60px; font-size: 18px; padding: 0 43px; }
  .toggle-menu { display: block; padding: 0 20px; background-color: transparent; margin-right: 5px; }
  header.header-fixed #resize_main h1 { font-size: 60px; margin-top: 0; }
  header.header-fixed .header-wrap__logo { width: 90px; margin-left: 15px; }
  .about-wrap__main h2 { font-size: 33px; }
  .about-wrap__main h2 span { font-size: 37px; }
  .about-wrap__main p { font-size: 13px; line-height: 16px; letter-spacing: 0.2px; }
  .about-wrap__main p:last-child { padding-top: 0; }
  .positivesign-wrap { padding-bottom: 30px; }
  .positivesign-wrap h2 { font-size: 33px; margin-bottom: 30px; line-height: 1.3; }
  .positivesign-wrap h2 span { font-size: 36px; border: 3px solid red; padding: 0px 4px 0px 4px; }
  .positivesign-wrap h3 { font-size: 18px; }
  .positivesign-wrap p { font-size: 14px; line-height: 20px; }
  .positivesign-wrap__item { width: calc(50% - 10px); margin-bottom: 20px; }
  .positivesign-wrap__item:nth-child(3) { margin-right: 10px; }
  .directions-wrap { padding-bottom: 50px; }
  .directions-wrap h2 { margin-bottom: 30px; }
  .directions-wrap h3 { font-size: 18px; margin: 15px 0 10px; }
  .directions-wrap .content__item { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }
  .directions-wrap .content__item:nth-of-type(2) .content__text { margin-left: 0; }
  .directions-wrap .content__img, .directions-wrap .content__text { -webkit-box-flex: 100%; -ms-flex: 100%; flex: 100%; margin-right: 0; border-radius: 20px; }
  .directions-wrap .content__text { position: static; -webkit-box-ordinal-group: 2; -ms-flex-order: 1; order: 1; margin-left: 0; border-top-left-radius: 0; border-top-right-radius: 0; }
  .directions-wrap .content__text--center { position: static; -webkit-transform: translate(0, 0%); transform: translate(0, 0%); padding: 0 15px 15px; }
  .directions-wrap .content__img { -webkit-box-ordinal-group: 1; -ms-flex-order: 0; order: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
  .question-wrap { padding-bottom: 30px; }
  .list div h3 { font-size: 18px; }
  .list div p { font-size: 14px; line-height: 20px; }
  .footer-wrap-content { padding-bottom: 15px; }
  .footer-wrap-content .logo { width: 110px; margin-top: 40px; }
  .footer-wrap-content__social .social { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; margin-top: 5px; }
  .footer-wrap-content__social .social__item:nth-child(2) { margin: 10px 0; }
  .copyright { padding: 3px 0 3px; }
  /** ================= > 776px ================= */ }
@media screen and (max-width: 767px) { .wrapper { padding-left: 20px; padding-right: 20px; }
  #popup__toggle .circlephone { width: 100px; height: 100px; right: 8px; }
  #popup__toggle .circle-fill { width: 80px; height: 80px; right: 19px; bottom: -15px; }
  #popup__toggle .img-circle { width: 58px; height: 58px; right: 29px; bottom: -4px; }
  #popup__toggle .img-circleblock { width: 58px; height: 58px; }
  .toggle-menu { padding: 0 10px; }
  .header-wrap__company h1 { font-size: 45px; letter-spacing: 10px; margin-top: 10px; }
  .header-wrap__company h2 { font-size: 11px; line-height: 16px; letter-spacing: 0; margin-top: 20px; }
  .header-wrap__logo { width: 71px; padding-top: 10px; margin-right: 10px; }
  header.header-fixed #resize_main h1 { font-size: 35px; letter-spacing: 9px; padding-top: 5px; }
  header.header-fixed .header-wrap__logo { width: 52px; }
  #banner ul.banner-button li a { font-size: 13px !important; line-height: 35px !important; }
  .about-wrap { -ms-flex-wrap: wrap; flex-wrap: wrap; }
  .about-wrap__main { -webkit-box-flex: 100%; -ms-flex: 100%; flex: 100%; }
  .about-wrap__main h2 { font-size: 30px; text-align: center; margin-bottom: 20px; }
  .about-wrap__main h2 span { font-size: 33px; }
  .about-wrap__main p { font-size: 13px; line-height: 17px; }
  .about-wrap__img { -webkit-box-flex: 0; -ms-flex: none; flex: none; width: 75%; margin: 15px auto 0; }
  .positivesign-wrap h2 { font-size: 30px; }
  .positivesign-wrap h2 span { font-size: 33px; }
  .positivesign-wrap__item { max-width: 600px; width: 100%; margin-right: 0 !important; margin-bottom: 20px; }
  .positivesign-wrap__item:last-child { margin-bottom: 0; }
  .question-wrap-content { margin-left: 0; }
  .question-wrap .list div { margin: 45px 0; padding: 45px 25px 25px 25px; }
  .question-wrap .list div:last-child { margin-bottom: 0; }
  .question-wrap .list div:before { left: 50%; -webkit-transform: translate(-50%, 0); transform: translate(-50%, 0); top: 40px; width: 80px; height: 80px; border: 5px solid #d04241; font-size: 18px; line-height: 76px; }
  .question-wrap .list div h3 { text-align: center; }
  #map { height: 450px; }
  .footer-wrap-content { -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 30px 0 10px; }
  .footer-wrap-content h4 { border-bottom: none; line-height: 0px; margin-top: 20px; }
  .footer-wrap-content .logo { margin-top: 33px; width: 96px; }
  .footer-wrap-content__menu { display: none; }
  .footer-wrap-content__contact { margin-left: 30px; }
  .footer-wrap-content__contact .contact-list__item { line-height: 20px; }
  .footer-wrap-content__social { width: 100%; }
  .footer-wrap-content__social .social { -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; margin-top: 0; }
  .footer-wrap-content__social .social__item:nth-child(2) { margin-left: 25px; margin-right: 25px; }
  .copyright { font-size: 11px; }
  .fancybox-inner { width: auto !important; }
  .fancybox-opened .fancybox-skin { padding: 0 !important; }
  [class*="__decor"] { padding: 45px 0 30px; }
  [class*="__decor"] img { width: 45%; }
  #AJAX_form .container { width: auto; padding: 10px; }
  #AJAX_form h2 { font-size: 19px; margin-top: 5px; margin-bottom: 10px; }
  #AJAX_form p { font-size: 14px; line-height: 21px; }
  #AJAX_form form > input, #AJAX_form form > textarea { padding: 10px; }
  #AJAX_form form > input { margin-bottom: 7px; }
  #AJAX_form .check-list__item label { font-size: 14px; }
  #AJAX_form textarea { margin-bottom: 20px; }
  #AJAX_form button { line-height: 43px; font-size: 16px; }
  #AJAX_form .reg_form p { white-space: pre-line; }
  /** ================= > 479px ================= */ }
@media screen and (max-width: 479px) { .header-wrap__logo { width: 63px; margin-top: 5px; margin-right: 0; padding-top: 0; }
  .header-wrap__company h1 { font-size: 33px; letter-spacing: 4px; margin-top: 5px; }
  .header-wrap__company h2 { font-size: 7px; line-height: 11px; }
  .toggle-menu { padding: 0 5px; font-size: 28px; }
  header.header-fixed .header-wrap__logo { width: 43px; }
  header.header-fixed #resize_main h1 { font-size: 30px; letter-spacing: 4px; }
  header.header-fixed .toggle-menu { line-height: 46px; }
  #banner ul.banner-button li a { font-size: 12px !important; line-height: 30px !important; }
  [class*="__decor"] { padding: 40px 0 20px; }
  [class*="__decor"] img { width: 50%; }
  .about-wrap__main h2 { line-height: 35px; text-align: center; margin-bottom: 10px; }
  .about-wrap__img { width: 90%; margin-top: 5px; }
  .positivesign-wrap h2 { font-size: 27px; margin-bottom: 20px; line-height: 1.2; }
  .positivesign-wrap h2 span { font-size: 29px; border-bottom: 2px solid red; border-top: none; border-left: none; border-right: none; border-radius: 0; }
  .positivesign-wrap__item { padding-bottom: 10px; margin-bottom: 15px; }
  .positivesign-wrap__text { padding-bottom: 5px; }
  .directions-wrap { padding-bottom: 30px; }
  .directions-wrap h2 { font-size: 27px; margin-bottom: 20px; }
  .directions-wrap h3 { margin: 10px 0 7px; }
  .directions-wrap p { line-height: 14px; letter-spacing: 0.2px; }
  .directions-wrap p--center { padding: 0 5px 5px; }
  .question-wrap h2 { font-size: 27px; margin-bottom: 20px; }
  .question-wrap .list div { padding: 40px 20px 20px 20px; }
  .question-wrap .list div:before { top: 40px; width: 80px; height: 80px; font-size: 18px; line-height: 76px; }
  .map h2 { font-size: 27px; }
  .footer-wrap-content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
  .footer-wrap-content .logo { margin: 0 auto; }
  .footer-wrap-content__contact { -ms-flex-item-align: center; align-self: center; margin-left: 0; }
  .footer-wrap-content__contact .contact-list__item { font-size: 13px; }
  .copyright { font-size: 10px; letter-spacing: 0.1px; }
  #AJAX_form .container { width: auto; padding: 5px; }
  #AJAX_form h2 { font-size: 15px; }
  #AJAX_form p { line-height: 16px; }
  #AJAX_form .check-list__item label { font-size: 13px; }
  #AJAX_form textarea { margin-bottom: 10px; }
  #AJAX_form button { font-size: 15px; padding: 0 40px; } }
/*# sourceMappingURL=main.css.map */