@charset "UTF-8";
@font-face {
  font-family: 'Partner regular';
  src: url("../fonts/Partner.woff2") format("woff2"), url("../fonts/Partner.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PartnerLight';
  src: url("../PartnerLight.woff2") format("woff2"), url("../PartnerLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Nova Book';
  src: url("../fonts/GillSansNova-Book.woff2") format("woff2"), url("../fonts/GillSansNova-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gill Sans Nova BookIt';
  src: url("../fonts/GillSansNova-BookItalic.woff2") format("woff2"), url("../fonts/GillSansNova-BookItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bosch Sans Cond';
  src: url("../fonts/BoschSansCond-Regular.woff2") format("woff2"), url("../fonts/BoschSansCond-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bosch Sans CondIt';
  src: url("../fonts/BoschSansCond-RegularItalic.woff2") format("woff2"), url("../fonts/BoschSansCond-RegularItalic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Bosch Sans CondBold';
  src: url("BoschSansCond-Bold.woff2") format("woff2"), url("BoschSansCond-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1380px;
  padding: 0 30px;
  margin: 0 auto;
}

h1 {
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 32px;
  line-height: 1.4;
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}

h1 span {
  color: #c9a691;
}

h2 {
  font-family: "Bosch Sans Cond", Helvetica, Arial, sans-serif;
  font-size: 34px;
  color: #2f3436;
  text-align: center;
  text-transform: uppercase;
  margin: 53px 0 37px;
}

h2:before, h2:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 99px;
  height: 2px;
  background-color: #2f3436;
  margin-right: 22px;
  margin-left: 22px;
}

h3 {
  font-family: "Bosch Sans CondBold", Helvetica, Arial, sans-serif;
  font-size: 25px;
  color: #2f3436;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.1;
}

h4 {
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 0px;
  margin-bottom: 19px;
}

p {
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.1;
  color: #fff;
  margin: 0;
}

.position-absolute {
  position: absolute;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header {
  background: #000 url(../img/wrap-img.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: relative;
}

.header--top {
  position: relative;
}

.header--top:before {
  position: absolute;
  content: '';
  width: 50%;
  top: 0;
  left: 0;
  height: 123px;
  background: rgba(68, 105, 125, 0.9);
}

.header--top:after {
  position: absolute;
  content: '';
  width: 50%;
  top: 0;
  right: 0;
  height: 123px;
  background: rgba(240, 240, 240, 0.7);
}

.header--bottom {
  position: absolute;
  width: 50%;
  bottom: 0;
  left: 0;
  height: calc(100% - 123px);
  background: rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(88, 88, 88, 0.7)));
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(88, 88, 88, 0.7)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(88, 88, 88, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#585858', GradientType=1 );
}

.navbar {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 11px;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-brand img {
  display: inline-block;
}

.navbar-brand .company {
  font-family: "Bosch Sans CondBold", Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #fff;
  line-height: 1;
  text-transform: uppercase;
  white-space: nowrap;
  margin-top: 10px;
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.menu__item {
  margin-left: 20px;
}

.menu__item:nth-child(1) {
  margin-left: 0;
}

.menu__link {
  display: inline-block;
  font-family: "Bosch Sans CondBold", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.menu__link:hover {
  color: #c9bfb9;
}

.menu-btn {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 29px;
  height: 2px;
  background-color: #fff;
  line-height: 1;
}

.menu-btn span:nth-child(2) {
  margin: 5px 0;
}

.menu-btn:focus {
  outline: 0;
}

.menu-mobile {
  left: 0;
  right: 0;
  z-index: 1;
}

.menu-mobile, .menu-dropdown, .menu-hamburger {
  display: none;
}

.menu-dropdown.active {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile .menu-dropdown {
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba(68, 105, 125, 0.4);
}

.menu-dropdown .dropdown-item:active {
  background-color: rgba(46, 44, 44, 0.2);
}

.dropdown-item {
  font-family: "Bosch Sans CondBold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: uppercase;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-item:nth-child(1) {
  margin-top: 8px;
  border-top: 0;
}

.dropdown-item:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: rgba(68, 105, 125, 0.9);
}

.language__toggle {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.language__item {
  display: inline-block;
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #6998b0;
  margin-left: 20px;
}

.language__item.active {
  color: #fff;
}

.info {
  margin: 200px 0 215px;
}

.info__text {
  margin: 35px 0 40px;
}

.info__btn {
  display: inline-block;
  font-family: "Bosch Sans Cond", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  background-color: #c9a691;
  padding: 26px 83px;
  border-radius: 5px;
}

.info__btn:hover {
  background-color: #dac2b3;
}

.advantagess {
  padding-bottom: 100px;
}

.advantagess__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantagess__item {
  background-color: rgba(65, 72, 71, 0.1);
  width: 333px;
  height: 490px;
  text-align: center;
  border: 2px solid rgba(69, 102, 120, 0.1);
  position: relative;
  padding-top: 90px;
  padding: 90px 25px 0px;
}

.advantagess__item:not(:first-child) {
  margin-left: -1px;
}

.advantagess__icon {
  width: 138px;
  height: 138px;
  border-radius: 50%;
  background-color: #456678;
  position: absolute;
  top: -69px;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.advantagess__icon img {
  display: block;
  width: 83px;
  height: 83px;
}

.advantagess__text {
  font-size: 20px;
  line-height: 1.2;
  color: #2f3436;
}

.advantagess__btn {
  position: absolute;
  bottom: 22px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: inline-block;
  font-family: "Bosch Sans Cond", Helvetica, Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: #2f3436;
  border: 2px solid #456678;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 36px;
  border-radius: 5px;
}

.advantagess__btn:hover {
  background-color: #456678;
  color: #fff;
}

.strengths {
  background: #000 url(../img/wrap-img2.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.strengths:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(47, 52, 54, 0.8);
}

.strengths__left {
  padding: 215px 0 173px;
}

.strengths__quote, .strengths__author {
  font-size: 34px;
  color: #c9a691;
}

.strengths__author {
  text-align: right;
  margin: 15px 0 50px;
}

.strengths__text {
  font-size: 24px;
  line-height: 1.2;
  color: #dcd8d4;
}

.strengths__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.table {
  background-color: transparent;
  border-radius: 50%;
  text-align: center;
  width: 600px;
  height: 600px;
  border-spacing: 0;
  overflow: hidden;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.table td {
  background-color: #456678;
  width: 150px;
  height: 150px;
  padding: 0;
  border: 0;
  empty-cells: hide;
  overflow: hidden;
  vertical-align: top;
}

.table__text:nth-of-type(1) {
  padding: 100px 10px 0 40px;
}

.table__text:nth-of-type(2) {
  padding: 30px 60px 0 20px;
}

.table__text p {
  font-size: 20px;
  padding-top: 10px;
  color: #c9a691;
}

.table__text img {
  max-width: 91px;
}

.table__image {
  position: relative;
  display: inline-block;
  width: 100%;
}

.table__image:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(47, 52, 54, 0.4);
}

.table__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 295px;
  height: 296px;
  display: inline-block;
  vertical-align: bottom;
}

.th {
  width: 10px;
}

table td.td {
  height: 10px;
}

.outsourcing {
  padding-bottom: 62px;
}

.outsourcing__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outsourcing__left {
  list-style: none;
  width: 32%;
  margin: 0;
}

.outsourcing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #141515;
  height: 57px;
  border-left: 5px solid transparent;
  -webkit-box-shadow: -5px 0px 0px 0px transparent;
          box-shadow: -5px 0px 0px 0px transparent;
  margin-bottom: 10px;
  padding: 0 10px 6px 15px;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.outsourcing__item.active {
  border-left: 5px solid white;
  -webkit-box-shadow: -5px 0px 0px 0px #c48e49;
          box-shadow: -5px 0px 0px 0px #c48e49;
  background-color: rgba(78, 59, 41, 0.1);
}

.outsourcing__item:hover {
  border-left: 5px solid white;
  -webkit-box-shadow: -5px 0px 0px 0px #c48e49;
          box-shadow: -5px 0px 0px 0px #c48e49;
  background-color: rgba(78, 59, 41, 0.1);
}

.outsourcing__content {
  display: none;
  position: relative;
  width: 68%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 771px;
  height: 488px;
  margin: 0 auto;
}

.outsourcing__content:before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/black-linen-2.png);
  background-repeat: repeat;
  width: 50%;
  height: 100%;
}

.outsourcing__content.active {
  display: block;
}

.outsourcing__text {
  position: relative;
  background-color: rgba(65, 72, 71, 0.5);
  width: 50%;
  height: 100%;
  padding: 20px 15px 0;
}

.outsourcing__text p {
  font-size: 21px;
  color: #fff;
}

.item_1 {
  background-image: url(../img/outsourcing_1.png);
}

.item_2 {
  background-image: url(../img/outsourcing_1.png);
}

.item_3 {
  background-image: url(../img/outsourcing_1.png);
}

.item_4 {
  background-image: url(../img/outsourcing_1.png);
}

.item_5 {
  background-image: url(../img/outsourcing_1.png);
}

.footer {
  position: relative;
  padding-top: 69px;
  padding-bottom: 13px;
}

.footer:before {
  position: absolute;
  z-index: -1;
  top: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}

.footer:after {
  position: absolute;
  z-index: -1;
  top: 0;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(15, 38, 51, 0.8);
}

.footer .wrapper::after {
  content: '';
  display: block;
}

.footer-menu__link {
  font-size: 24px;
  height: 24px;
}

.copy {
  margin-top: 43px;
}

.copy__link {
  display: inline-block;
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}

.copy__link img {
  display: inline-block;
  width: 21px;
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 7px;
}

.copy__link span {
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #fff;
}

.header--background {
  background: #000 url(../img/wrap-img.png);
  background-repeat: no-repeat;
  background-position: 0% 90%;
  background-size: cover;
  position: relative;
}

.header--cover {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: calc(100% - 123px);
  background: rgba(0, 0, 0, 0.7);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0, 0, 0, 0.7)), color-stop(100%, rgba(88, 88, 88, 0.7)));
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.7)), to(rgba(88, 88, 88, 0.7)));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(88, 88, 88, 0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#585858', GradientType=1 );
}

.partition p {
  font-family: "Bosch Sans Cond", Helvetica, Arial, sans-serif;
  font-size: 72px;
  text-transform: uppercase;
  line-height: 4;
  text-align: center;
}

.background--block {
  background-color: #ececec;
  z-index: 1;
}

.about {
  position: relative;
  background: #ececec url(../img/wrap-img3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.about:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(230, 233, 238, 0.9);
  background-size: 50% 100%;
}

.info--block {
  height: 834px;
}

.about__info,
.contact__info {
  position: relative;
  z-index: 1;
  margin-left: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about__info p,
.contact__info p {
  font-family: "Bosch Sans Cond", Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.35;
  color: #2f3436;
  margin-top: 33px;
}

.h1--other {
  color: #000;
}

.contact {
  position: relative;
  background: #ececec url(../img/wrap-img4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.contact:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(230, 233, 238, 0.9);
  background-size: 50% 100%;
}

.contact__info a:nth-of-type(1) {
  display: inline-block;
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 50px;
  line-height: 1.35;
  color: #2f3436;
  margin-top: 33px;
  margin-bottom: 60px;
  cursor: pointer;
}

.contact__info a:nth-of-type(1):hover {
  color: #5e696d;
}

.contact__btn {
  display: inline-block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  color: #fff;
  background-color: #44697d;
  padding: 26px 83px;
  border-radius: 5px;
}

.contact__btn:hover {
  background-color: #56859e;
}

/* === POP-UP (make an order) ==== */
.overlay {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  position: fixed;
  z-index: 99998;
  top: 0;
  left: 0;
  background: rgba(68, 105, 125, 0.5);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.35s ease-in-out;
  transition: 0.35s ease-in-out;
  overflow-y: auto;
}

.overlay.open {
  opacity: 1;
  pointer-events: inherit;
}

.overlay .modal {
  position: relative;
  background: #f6f6f6;
  text-align: center;
  padding: 20px 80px;
  -webkit-box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
          box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 0.35s ease-in-out 50ms;
  transition: 0.35s ease-in-out 50ms;
  max-height: 100%;
  overflow-y: auto;
  border-radius: 5px;
}

.overlay .modal.open {
  opacity: 1;
  pointer-events: inherit;
}

.overlay .modal.open .content {
  -webkit-transform: translate(0, 0px);
          transform: translate(0, 0px);
  opacity: 1;
}

.overlay .modal .content {
  -webkit-transform: translate(0, -10px);
          transform: translate(0, -10px);
  opacity: 0;
  -webkit-transition: .35s ease-in-out 75ms;
  transition: .35s ease-in-out 75ms;
}

.close-modal {
  position: absolute;
  z-index: 10;
  top: 10px;
  right: 15px;
  font-size: 22px;
  color: rgba(68, 105, 125, 0.4);
  -webkit-transition: color 200ms, -webkit-transform 500ms;
  transition: color 200ms, -webkit-transform 500ms;
  transition: color 200ms, transform 500ms;
  transition: color 200ms, transform 500ms, -webkit-transform 500ms;
}

.close-modal:hover, .close-modal:focus {
  color: #44697d;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

#modal1 h2 {
  margin-bottom: 20px;
}

#modal1 p {
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: #2f3436;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}

#modal1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  width: 40vw;
}

#modal1 form input[type="text"],
#modal1 form input[type="tel"],
#modal1 form textarea {
  width: 100%;
  border-color: #44697d;
  background: transparent;
  border: 2px solid #44697d;
  border-radius: 5px;
  padding: 10px 10px;
  color: #2f3436;
}

#modal1 form input[type="text"],
#modal1 form input[type="tel"],
#modal1 form input[type="submit"],
#modal1 form textarea {
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: 0.03em;
  margin-top: 15px;
  outline: 0;
}

#modal1 form input[type="submit"] {
  margin-top: 20px;
}

#modal1 form input::-webkit-input-placeholder,
#modal1 form textarea::-webkit-input-placeholder {
  color: #2f3436;
}

#modal1 form input:-ms-input-placeholder,
#modal1 form textarea:-ms-input-placeholder {
  color: #2f3436;
}

#modal1 form input::-ms-input-placeholder,
#modal1 form textarea::-ms-input-placeholder {
  color: #2f3436;
}

#modal1 form input::placeholder,
#modal1 form textarea::placeholder {
  color: #2f3436;
}

#modal1 form textarea {
  min-height: 70px;
}

#modal1 form input[type="submit"] {
  padding: 10px 70px;
  width: auto;
  background: #fff;
  border: 2px solid #44697d;
  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

#modal1 form input[type="submit"]:hover {
  color: #fff;
  background: #44697d;
  -webkit-transition: .1s ease;
  transition: .1s ease;
}

/* === POP-UP (done)) ==== */
#modal2, #modal3 {
  width: auto;
  padding: 50px 15px;
}

#modal2 .content, #modal3 .content {
  font-family: "Gill Sans Nova Book", Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.4;
}

#modal2 .close-modal,
#modal3 .close-modal {
  top: -35px;
  /* xs - устройства (до 576px) */
}

@media (min-width: 320px) and (max-width: 575px) {
  /* CSS для ширины, которая меньше 575px (включительно) */
  h1 {
    font-size: 19px;
  }
  h2 {
    font-size: 20px;
  }
  h2:before, h2:after {
    width: 30px;
    margin-right: 6px;
    margin-left: 6px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  .wrapper {
    padding: 0 15px;
  }
  .menu {
    display: none;
  }
  .menu__link {
    font-size: 16px;
  }
  .menu-hamburger {
    display: block;
  }
  .menu-dropdown.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar-brand img {
    width: 25px;
  }
  .navbar-brand .company {
    font-size: 18px;
  }
  .language__item {
    font-size: 16px;
  }
  .language__item.active {
    color: #fff;
  }
  .language__toggle {
    padding-left: 0;
    -webkit-box-pack: inherit;
        -ms-flex-pack: inherit;
            justify-content: inherit;
  }
  .header--top:before {
    width: 90%;
    height: 95px;
  }
  .header--top:after {
    width: 10%;
    height: 95px;
  }
  .header--bottom {
    width: 90%;
    height: calc(100% - 95px);
  }
  .info {
    margin: 120px 0 170px;
  }
  .info__text {
    font-size: 17px;
    margin: 10px 0 40px;
  }
  .info__btn {
    font-size: 19px;
    padding: 15px 32px;
  }
  .advantagess {
    padding-bottom: 65px;
  }
  .advantagess__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantagess__item {
    height: auto;
    margin-top: 100px;
  }
  .advantagess__item:not(:first-child) {
    margin-left: 0;
  }
  .advantagess__icon {
    width: 125px;
    height: 125px;
  }
  .advantagess__icon img {
    width: 66px;
    height: 66px;
  }
  .advantagess__item {
    width: 290px;
    padding: 65px 15px 20px;
  }
  .advantagess__text {
    font-size: 16px;
    padding-bottom: 65px;
  }
  .advantagess__btn {
    margin-top: 20px;
    font-size: 16px;
  }
  .strengths__left {
    padding: 30px 0 50px;
  }
  .strengths__right {
    padding-top: 40px;
  }
  .strengths__quote, .strengths__author {
    font-size: 20px;
  }
  .strengths__author {
    margin: 10px 0 30px;
  }
  .strengths__text {
    font-size: 17px;
  }
  .table {
    width: 300px;
    height: 300px;
  }
  .table td {
    width: 120px;
    height: 100px;
  }
  .table__image img {
    width: 143px;
    height: 145px;
  }
  .table__text:nth-of-type(1) {
    padding: 45px 3px 0px 15px;
  }
  .table__text:nth-of-type(2) {
    padding: 9px 20px 0 3px;
  }
  .table__text img {
    width: 40px;
  }
  .table__text p {
    font-size: 11px;
    padding-top: 3px;
  }
  .outsourcing__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .outsourcing__left {
    width: 100%;
    padding-left: 10px;
  }
  .outsourcing__content {
    width: 100%;
    height: 290px;
  }
  .outsourcing__item {
    font-size: 16px;
    margin-bottom: 3px;
  }
  .outsourcing__content {
    width: 100%;
    margin-top: 15px;
  }
  .outsourcing__text {
    width: 80%;
  }
  .outsourcing__content:before {
    width: 80%;
  }
  .outsourcing__text p {
    font-size: 18px;
  }
  .footer {
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .copy {
    margin-top: 25px;
  }
  .copy__link,
  .copy__link span {
    font-size: 11px;
  }
  .copy__link img {
    width: 18px;
  }
  .header--cover {
    height: calc(100% - 95px);
  }
  .h1--other {
    font-size: 18px;
  }
  .about {
    background-size: 100% 100%;
  }
  .about:before {
    width: 100%;
  }
  .partition p {
    font-size: 55px;
    line-height: 3;
  }
  .info--block {
    height: 515px;
  }
  .about__info p {
    font-size: 18px;
    margin-top: 15px;
  }
  .contact__info a:nth-of-type(1) {
    font-size: 31px;
  }
  .contact__btn {
    font-size: 23px;
    padding: 14px 17px;
    margin: 0 auto;
  }
  .content h2 {
    margin: 25px 0 37px;
  }
  .content h2:before, .content h2:after {
    width: 20px;
  }
  #modal1 p {
    font-size: 17px;
  }
  #modal1 form {
    width: 100%;
  }
  #modal1 form input[type="text"],
  #modal1 form input[type="tel"],
  #modal1 form input[type="submit"],
  #modal1 form textarea {
    font-size: 16px;
    margin-top: 10px;
  }
  .overlay .modal {
    padding: 20px 20px;
  }
  .close-modal {
    font-size: 16px;
  }
  #modal2 .content, #modal3 .content {
    font-size: 16px;
  }
  /* sm-устройства (больше или равно 576px) */
}

@media (min-width: 576px) and (max-width: 768px) {
  /* CSS для: 576px <= ширины <= 767px */
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  h4 {
    font-size: 20px;
  }
  .wrapper {
    padding: 0 20px;
  }
  .menu__link {
    font-size: 16px;
  }
  .navbar-brand img {
    width: 25px;
  }
  .navbar-brand .company {
    font-size: 18px;
  }
  .language__item {
    font-size: 16px;
  }
  .language__toggle {
    padding-left: 0;
  }
  .header--top:before {
    width: 80%;
    height: 95px;
  }
  .header--top:after {
    width: 20%;
    height: 95px;
  }
  .header--bottom {
    width: 80%;
    height: calc(100% - 95px);
  }
  .info {
    margin: 120px 0 170px;
  }
  .info__text {
    font-size: 21px;
    margin: 10px 0 40px;
  }
  .info__btn {
    font-size: 23px;
    padding: 18px 38px;
  }
  .advantagess {
    padding-bottom: 65px;
  }
  .advantagess__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .advantagess__item {
    height: auto;
    margin-top: 100px;
  }
  .advantagess__item:not(:first-child) {
    margin-left: 0;
  }
  .advantagess__icon {
    width: 125px;
    height: 125px;
  }
  .advantagess__icon img {
    width: 66px;
    height: 66px;
  }
  .advantagess__item {
    padding: 65px 20px 20px;
  }
  .advantagess__text {
    font-size: 17px;
    padding-bottom: 65px;
  }
  .advantagess__btn {
    margin-top: 20px;
    font-size: 17px;
  }
  .strengths__left {
    padding: 30px 0 90px;
  }
  .strengths__right {
    padding-top: 40px;
  }
  .strengths__quote, .strengths__author {
    font-size: 24px;
  }
  .strengths__author {
    margin: 10px 0 35px;
  }
  .strengths__text {
    font-size: 20px;
  }
  .table {
    width: 400px;
    height: 400px;
  }
  .table td {
    width: 100px;
    height: 100px;
  }
  .table__image img {
    width: 194px;
    height: 195px;
  }
  .table__text:nth-of-type(1) {
    padding: 45px 10px 0 40px;
  }
  .table__text:nth-of-type(2) {
    padding: 4px 68px 0 6px;
  }
  .table__text img {
    width: 66px;
  }
  .table__text p {
    font-size: 16px;
  }
  .outsourcing__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .outsourcing__left {
    width: 80%;
    padding-left: 10px;
  }
  .outsourcing__content {
    width: 60%;
  }
  .outsourcing__item {
    font-size: 20px;
    margin-bottom: 3px;
  }
  .outsourcing__content {
    width: 100%;
    margin-top: 15px;
  }
  .outsourcing__text {
    width: 60%;
  }
  .outsourcing__content:before {
    width: 60%;
  }
  .outsourcing__text p {
    font-size: 18px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .copy {
    margin-top: 25px;
  }
  .copy__link,
  .copy__link span {
    font-size: 12px;
  }
  .copy__link img {
    width: 18px;
  }
  .header--cover {
    height: calc(100% - 95px);
  }
  .h1--other {
    font-size: 22px;
  }
  .about {
    background-size: 100% 100%;
  }
  .about:before {
    width: 100%;
  }
  .partition p {
    font-size: 55px;
    line-height: 3;
  }
  .info--block {
    height: 560px;
  }
  .about__info p {
    font-size: 21px;
  }
  .contact__info a:nth-of-type(1) {
    font-size: 37px;
  }
  .contact__btn {
    font-size: 26px;
    padding: 14px 17px;
  }
  .content h2:before, .content h2:after {
    width: 40px;
  }
  #modal1 form {
    width: 100%;
  }
  .overlay .modal {
    padding: 20px 40px;
  }
  /* md-устройства (больше или равно 768px) */
}

@media (min-width: 768px) and (max-width: 992px) {
  /* CSS для: 768px <= ширины <= 991px */
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 22px;
  }
  .menu__link {
    font-size: 18px;
  }
  .navbar-brand img {
    width: 30px;
  }
  .navbar-brand .company {
    font-size: 23px;
  }
  .language__item {
    font-size: 18px;
  }
  .language__toggle {
    padding-left: 0;
  }
  .header--top:before {
    width: 75%;
    height: 105px;
  }
  .header--top:after {
    width: 25%;
    height: 105px;
  }
  .header--bottom {
    width: 75%;
    height: calc(100% - 105px);
  }
  .info__btn {
    font-size: 25px;
    padding: 20px 45px;
  }
  .advantagess {
    padding-bottom: 65px;
  }
  .advantagess__icon {
    width: 125px;
    height: 125px;
  }
  .advantagess__icon img {
    width: 66px;
    height: 66px;
  }
  .advantagess__item {
    padding: 65px 20px 0px;
  }
  .advantagess__text {
    font-size: 17px;
  }
  .advantagess__btn {
    font-size: 17px;
  }
  .strengths__left {
    padding: 30px 0 90px;
  }
  .strengths__right {
    padding-top: 40px;
  }
  .strengths__quote, .strengths__author {
    font-size: 26px;
  }
  .strengths__author {
    margin: 10px 0 35px;
  }
  .strengths__text {
    font-size: 22px;
  }
  .table {
    width: 400px;
    height: 400px;
  }
  .table td {
    width: 100px;
    height: 100px;
  }
  .table__image img {
    width: 194px;
    height: 195px;
  }
  .table__text:nth-of-type(1) {
    padding: 45px 10px 0 40px;
  }
  .table__text:nth-of-type(2) {
    padding: 4px 68px 0 6px;
  }
  .table__text img {
    width: 66px;
  }
  .table__text p {
    font-size: 16px;
  }
  .outsourcing__left {
    width: 40%;
    padding-left: 10px;
  }
  .outsourcing__content {
    width: 60%;
  }
  .outsourcing__item {
    font-size: 22px;
  }
  .outsourcing__text {
    width: 60%;
  }
  .outsourcing__content:before {
    width: 60%;
  }
  .outsourcing__text p {
    font-size: 20px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .copy {
    margin-top: 25px;
  }
  .copy__link,
  .copy__link span {
    font-size: 13px;
  }
  .copy__link img {
    width: 20px;
  }
  .header--cover {
    height: calc(100% - 105px);
  }
  .partition p {
    font-size: 55px;
    line-height: 3;
  }
  .h1--other {
    font-size: 22px;
  }
  .about__info {
    margin-left: 0;
  }
  .about__info p {
    font-size: 21px;
  }
  .contact__info a:nth-of-type(1) {
    font-size: 37px;
  }
  .contact__btn {
    font-size: 29px;
    padding: 15px 21px;
  }
  #modal1 form {
    width: 70%;
  }
  .overlay .modal {
    padding: 20px 40px;
  }
  /* lg-устройства (больше или равно 992px) */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* CSS для: 992px <= ширины <= 1119px */
  h2 {
    font-size: 26px;
  }
  h4 {
    font-size: 22px;
  }
  .navbar-brand img {
    width: 40px;
  }
  .navbar-brand .company {
    font-size: 24px;
  }
  .header--top:before {
    width: 75%;
    height: 112px;
  }
  .header--top:after {
    width: 25%;
    height: 112px;
  }
  .header--bottom {
    width: 75%;
    height: calc(100% - 112px);
  }
  .info {
    margin: 175px 0 215px;
  }
  .info__btn {
    font-size: 25px;
    padding: 24px 75px;
  }
  .advantagess__icon {
    width: 125px;
    height: 125px;
  }
  .advantagess__icon img {
    width: 66px;
    height: 66px;
  }
  .advantagess__item {
    padding: 65px 20px 0px;
  }
  .strengths__right {
    padding-top: 40px;
  }
  .strengths__left {
    padding: 30px 0 90px;
  }
  .strengths__quote, .strengths__author {
    font-size: 26px;
  }
  .strengths__author {
    margin: 10px 0 35px;
  }
  .strengths__text {
    font-size: 22px;
  }
  .outsourcing__left {
    width: 40%;
    padding-left: 10px;
  }
  .outsourcing__content {
    width: 60%;
  }
  .outsourcing__item {
    font-size: 22px;
  }
  .outsourcing__text {
    width: 60%;
  }
  .outsourcing__content:before {
    width: 60%;
  }
  .outsourcing__text p {
    font-size: 20px;
  }
  .footer {
    padding-top: 60px;
    padding-bottom: 10px;
  }
  .copy {
    margin-top: 25px;
  }
  .copy__link,
  .copy__link span {
    font-size: 14px;
  }
  .copy__link img {
    width: 20px;
  }
  .header--cover {
    height: calc(100% - 112px);
  }
  .partition p {
    font-size: 55px;
    line-height: 3;
  }
  .h1--other {
    font-size: 22px;
  }
  .about__info p {
    font-size: 21px;
  }
  .contact__info a:nth-of-type(1) {
    font-size: 45px;
  }
  .contact__btn {
    font-size: 32px;
    padding: 17px 31px;
  }
  #modal1 form {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */